In [4]:
from faker import Faker
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from uuid import uuid4
from datetime import datetime, timedelta

%matplotlib inline

In [19]:
#intervalle de date d'abonnement
start_date = datetime(2022, 1, 1, 00, 00)
end_date = datetime(2024, 4, 30, 00, 00)


type_abonnement_list = ['Amazon Prime Annuel', 'Amazon Prime mensuel', 'Amazon Prime Uniquement', 'Abonnement Etudiant', 'Prime Video Channels']

In [16]:
def generate_random_id():
    return str(uuid4())

'6fa915b2-513f-4b33-beb7-ebc506a1893e'

## Table User

In [27]:
from tqdm import tqdm
import random

fake = Faker()

users_list = []
for i in tqdm(range(50)):
    user_id = generate_random_id()
    type_abonnement = random.choices(type_abonnement_list, weights=[0.55, 0.2, 0.1, 0.05, 0.1])[0]
    date_ = fake.date_between(start_date, end_date)
    date_abonnement = date_.strftime('%Y-%m-%d')
    users_dict = {
        "user_id": user_id,
        "type_abonnement": type_abonnement,
        "date_abonnement": date_abonnement
    }
    users_list.append(users_dict)

users_df = pd.DataFrame(users_list)
users_df.head()

100%|██████████| 50/50 [00:00<00:00, 4542.73it/s]

,user_id,type_abonnement,date_abonnement
0,ebc313bd-afea-4c19-b56b-917adb4dbde1,Amazon Prime Annuel,2022-01-15
1,9a6e05f1-c615-4469-9523-9da9a8cbe16a,Amazon Prime Annuel,2023-02-09
2,3ba15684-7f8f-4690-9de6-b7895450c99d,Amazon Prime Annuel,2022-03-03
3,802985bc-a614-4d2a-92e7-cc381082dbe5,Abonnement Etudiant,2024-01-13
4,248abcef-72cb-4ff1-b7f2-ac72755d64b5,Amazon Prime Uniquement,2023-09-22

In [28]:
users_df.to_csv("../Datas/users.csv")

## Table séries

In [38]:
categorie_list = ['Drame', 'Comedie', 'Action', 'Science-fiction', 'Fantastique', 'Horreur', 'Thriller', 'Romance', 'Documentaire']
series_list = []
for i in tqdm(range(20)):
    serie_id = generate_random_id()
    titre = f"{fake.word()} {fake.first_name()}"
    categorie = random.choice(categorie_list)
    nbr_episodes = random.choice(range(10, 40))
    date_expiration = fake.date_between(datetime(2024, 4, 30, 00, 00), datetime(2024, 8, 1, 00, 00))
    description = fake.text()

    series_dict = {
        'serie_id': serie_id,
        'titre' : titre,
        'categorie' : categorie,
        'nbr_episodes': nbr_episodes,
        'date_expiration': date_expiration,
        'description' : description
    }

    series_list.append(series_dict)

series_df = pd.DataFrame(series_list)
series_df.head()

100%|██████████| 20/20 [00:00<00:00, 952.32it/s]

,serie_id,titre,categorie,nbr_episodes,date_expiration,description
0,d4ce9122-24cb-4001-b14a-a4c9650b3c31,people Jordan,Horreur,20,2024-05-08,Quality agreement energy magazine. Policy ahea...
1,2a7ecf3d-ea1c-489e-954c-4fe3be55cbca,region David,Science-fiction,37,2024-06-24,Rate edge far former there prevent. Moment cou...
2,9501fb08-a53f-473b-af04-f8be7a3e0d35,reality Gabriela,Horreur,32,2024-07-03,Difficult reduce whatever national. Teacher re...
3,ca4e06e6-efb4-4c03-9207-996e88efbabb,such Robert,Science-fiction,20,2024-06-01,Ready small record half. Myself day always arg...
4,45055d6b-3f68-4642-aab8-791f83767b33,quite Elizabeth,Documentaire,22,2024-05-21,Whether all hit action discover. Stop see diff...

In [39]:
series_df.to_csv("../Datas/series.csv")

## Table épisodes

In [40]:
series_id_list = list(series_df.serie_id)

episodes_list = []
for i in tqdm(range(500)):
    episode_id = generate_random_id()
    serie_id = random.choice(series_id_list)
    n_secondes = random.choice(range(1200, 2400))

    episodes_dict = {
        "episode_id": episode_id,
        "serie_id": serie_id,
        "n_secondes": n_secondes
    }

    episodes_list.append(episodes_dict)

episodes_df = pd.DataFrame(episodes_list)
episodes_df.head()

100%|██████████| 500/500 [00:00<00:00, 38240.59it/s]

,episode_id,serie_id,n_secondes
0,6f01a457-beb6-49a6-8091-5367d3427226,2cba9264-16ab-415f-a0ae-b5e1db3f4918,1263
1,0bb07049-523d-4d48-b431-aa54c1143158,222f67ec-71fe-4d39-b246-3b9461cb66f2,1456
2,cda0c026-1aeb-4d63-94ae-e306931e4757,2cba9264-16ab-415f-a0ae-b5e1db3f4918,1428
3,50b7aa85-28fa-4ace-b2bf-5dbad83e4a7a,c76e89c7-9beb-4400-b5dd-300c2e398fda,2089
4,1b425cc1-5251-43de-ac00-7fd29e2ca839,d7539ef0-6130-44c8-81f7-4502f2c6981c,1954

In [41]:
episodes_df.to_csv("../Datas/episodes.csv")

## Table des historiques visites

In [63]:
episode_id_list = list(episodes_df.episode_id)
users_id_list = list(users_df.user_id)
visites_list = []
for i in range(500):
    visite_id = generate_random_id()
    episode_id = random.choice(episode_id_list)
    serie_id = episodes_df.loc[episodes_df.episode_id == episode_id, 'serie_id'].values[0]
    users_id = random.choice(users_id_list)
    n_secondes = random.choice(range(episodes_df.loc[episodes_df.episode_id == episode_id, 'n_secondes'].values[0]))

    visites_dict = {
        "visite_id" : visite_id,
        "episode_id" : episode_id,
        "serie_id" : serie_id,
        "user_id" : users_id,
        "n_secondes" : n_secondes
    }
    visites_list.append(visites_dict)

visites_df = pd.DataFrame(visites_list)
visites_df.head()

,visite_id,episode_id,serie_id,user_id,n_secondes
0,6d3fa172-137f-4bde-8932-bd9dca2472a7,20087097-6a10-4960-b539-bd93950407d4,92757080-d94a-4f4c-97ad-89ce5e58cc86,248abcef-72cb-4ff1-b7f2-ac72755d64b5,956
1,a35d65a6-7f27-4bf7-a51b-80ddea5696cd,bd204e0b-d80a-40cb-9f3a-6b19bb5f628d,00bbb420-ca71-423e-8229-0c6f0c714164,09cc234c-8167-4fe6-9c2c-473c4c25e719,80
2,cc339140-2eb2-4246-8ec4-d8ec05726ee4,df1c0f54-6980-4a44-bf5c-0df6110906a8,2cba9264-16ab-415f-a0ae-b5e1db3f4918,666bee46-686a-455b-8d38-f8908f62a3aa,125
3,72396d5c-e7b7-4b2c-bcc4-812dc5ffbdf9,83c53116-88b4-4a2c-bf8a-469d4f513027,af8df0dc-7761-45e1-821a-7e55d57e9bd8,facc30c9-d01a-4526-b601-90c91c5e89fa,894
4,28af17bd-369a-403f-9dad-c9573e41b9ab,4261f14c-e0c1-4070-ae65-5ce173018fe3,c76e89c7-9beb-4400-b5dd-300c2e398fda,802985bc-a614-4d2a-92e7-cc381082dbe5,1254

In [64]:
visites_df.to_csv("../Datas/visites.csv")